# Math and data manipulation dependencies
numpy==2.2.3
scipy==1.15.2

# Environment dependencies
pettingzoo==1.24.3

# Reinforcement learning dependencies
torch==2.6.0

# Visualization dependencies
matplotlib==3.10.1
tensorboard==2.19.0
seaborn==0.13.2

# Testing dependencies
pytest==8.3.5
